<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>智能陪伴，快乐成长</title>

		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--微信不缓存东西  start-->
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<!--微信不缓存东西  end-->
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" href="css/swiper3.07.min.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/demo.css" />

		<script src="js/swiper.min.js"></script>
		<script src="js/swiper.animate.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

		<script src="iconfont/iconfont.js"></script>
	</head>

	<body>
		<!--资讯详情-->
		<div class="Magazine Magazine_bg_white">
			<div class="information_title">升职加薪全攻略，升职加薪全攻略</div>
			<div class="information_time">
				<img src="img/icon_time.png" /><span>2017-09-27&nbsp;&nbsp;09:33</span>
			</div>
			<div class="information_text">职场中的晋升加薪就像游戏中打怪升级一样，职场中的晋升加薪就像游戏中打怪升级一样， 职场中的晋升加薪就像游戏中打怪升级一样，职场中的晋升加薪就像游戏中打怪升级一样.
			</div>
			<img class="information_pic" src="img/information_pic.png" />
			<div class="information_text">职场中的晋升加薪就像游戏中打怪升级一样，职场中的晋升加薪就像游戏中打怪升级一样， 职场中的晋升加薪就像游戏中打怪升级一样，职场中的晋升加薪就像游戏中打怪升级一样.
			</div>
			<img class="information_pic" src="img/information_pic.png" />

			<a href="javascript:scroll(0,0)">
				<svg class="icon return_top" aria-hidden="true">
					<use xlink:href="#icon-gototop"></use>
				</svg>
			</a>
		</div>
	</body>

</html>