* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "microsoft yahei";
	max-width: 500px;
	margin: 0 auto;
	color: #fff;
}

a {
	text-decoration: none;
	color: #4c4c4c;
}


/*字体图标*/

.icon {
	width: 1.6em;
	height: 1.6em;
	fill: currentColor;
	vertical-align: bottom;
}


/*common*/

.hide {
	display: none;
}

.show {
	display: block;
}

.common_btn {
	display: block;
	margin: 40px auto;
	padding: 4px 50px;
	color: #fff;
	background: #66baea;
	border: none;
	line-height: 2em;
	font-size: 1.2em;
	border-radius: 6px;
	letter-spacing: 2px;
}


/*背景*/

.bg_index,
.bg_login {
	z-index: 1;
	background: url(../img/bg_index.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


/*登录*/

.user_login_box {
	width: 400px;
	margin: 12% auto 3%;
	line-height: 3.6em;
	padding: 60px 30px 20px;
	box-sizing: border-box;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.63);
}

.login_title {
	font-size: 1.2em;
	line-height: 26px;
	text-align: center;
	letter-spacing: 4px;
}

.user_login_box input {
	padding: 0 6px;
	width: 100%;
	line-height: 2.6em;
	border-radius: 6px;
	font-size: 1.0em;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.47);
}

.small_operation {
	font-size: 0.8em;
	line-height: 1em;
	padding: 0 4px;
}
.user_login_box {
	width: 100%;
	line-height: 4.0em;
	background: none;
}


/*首页*/

.top_nav {
	color: #575757;
	padding: 6px 12px;
	background: #66baea;
	color: #fff;
}

.info {
	position: relative;
	text-align: center;
}

.info .head {
	width: 50px;
	margin: 30px auto 6px;
	border-radius: 50%;
	box-shadow: 0 0 15px #fff;
}

.contact_info {
	text-align: left;
	padding-bottom: 30px;
}

.contact_type {
	display: block;
	margin-left: 20px;
	margin-top: 8px;
	color: #fff;
}

.btn_add_wechat {
	float: right;
	margin-right: 20px;
	padding: 4px 10px;
	background: #66baea;
	color: #fff;
	border: 1px solid #66baea;
	letter-spacing: 2px;
	border-radius: 5px;
}
.view{
	position: absolute;
	top: 45px;
	left: 22%;
}
#music{
	position: absolute;
	top: 20px;
	right: 8%;
}
#music svg{
	width: 40px;
	height: 40px;
}
.play {
    -webkit-animation: music_disc 4s linear infinite;
            animation: music_disc 4s linear infinite;
}
@keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.common_title {
	font-size: 1em;
	font-weight: bold;
	padding: 12px 0 6px 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
}

.common_title img {
	width: 100px;
}


/*首页--关于智伴*/

.friendly_link_box {
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
}

.friendly_link {
	display: block;
	width: 33.33%;
	float: left;
	text-align: center;
	font-size: 0.88em;
	margin-top: 20px;
}

.friendlylink_icon {
	width: 30px;
	height: 30px;
	padding: 14px;
	background: #5ed2a5;
	color: #fff;
	border-radius: 50%;
}

.friendly_link p {
	margin-top: 6px;
}


/*首页--我的资讯*/

.Magazine {}

.Magazine_lists {}

.news_box {
	overflow: hidden;
	padding: 8px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nwes_title {
	width: 70%;
	float: left;
}

.news_backcover {
	width: 30%;
	float: right;
}

/*首页--底部*/
.footer{
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 28px;
	background: #676869;
	text-align: center;
}
.footer .gohome{
	margin-top: -20px;
	width: 50px;
	height: 50px;
	background: #66baea;
	border-radius: 50%;
}
.footer .goleft{
	position: absolute;
	left: 12px;
	top: 4px;
}
.footer .goshare{
	position: absolute;
	right: 12px;
	top: 4px;
}
/*首页--微信名片*/

.null_box {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.47);
}

.wechat_box {
	position: fixed;
	z-index: 10;
	top: 180px;
	left: 0;
	width: 100%;
	padding: 50px 0 30px;
	box-sizing: border-box;
	text-align: center;
}

.wechat_box {
	background: url(../img/panel.jpg);
	color: #4c4c4c;
}

.wechat_box .code {
	width: 50%;
}

.code_box:before {
	left: 10%;
	background: transparent url(../img/cable.png) 0 0 no-repeat;
	position: absolute;
	display: block;
	height: 860px;
	width: 30px;
	content: "";
	top: -837px;
	z-index: 1;
}

.code_box:after {
	right: 10%;
	background: transparent url(../img/cable.png) 0 0 no-repeat;
	position: absolute;
	display: block;
	height: 860px;
	width: 30px;
	content: "";
	top: -837px;
	z-index: 1;
}
.icon_close{
	position: absolute;
	z-index: 10;
	bottom: -50px;
	left: 50%;
	background: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
}


/*新闻列表页*/
.Magazinelist_title{
	position: relative;
}
.bg_Magazinelist_title{
	width: 100%;
}
.Magazinelist_title_text{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px 20px;
	color: #fff;
	box-sizing: border-box;
	background: rgba(0,0,0,0.4);
}
.Magazine_bg_white{
	color: #575757;
}
.Magazine_bg_white .news_box{
	border-color: #a9a9a9;
}
/*资讯详情*/
.information_title{
	font-size: 1.2em;
	color: #0d0d0d;
	width: 90%;
	margin: 16px auto;
}
.information_time{
	font-size: 0.8em;
	color: #908e8e;
	width: 90%;
	margin: auto;
}
.information_time img{
	width: 12px;
	height: 12px;
}
.information_time span{
	display: inline-block;
	margin-left: 0.35rem;
}
.information_text{
	width: 90%;
	margin: 10px auto;
}
.information_pic{
	width: 90%;
	margin: 10px 5%;
}
.return_top{
	position: fixed;
	bottom: 30px;
	right: 5%;
	width: 30px;
	height:30px;
	background: #fff;
	border-radius: 50%;
	padding: 8px;
}