* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "microsoft yahei";
	max-width: 500px;
	margin: 0 auto;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}


/*字体图标*/

.icon {
	width: 1.6em;
	height: 1.6em;
	fill: currentColor;
	vertical-align: bottom;
}


/*common*/

.hide {
	display: none;
}

.show {
	display: block;
}

.common_btn {
	display: block;
	margin: 40px auto!important;
	padding: 4px 50px!important;
	color: #fff;
	background: #66baea!important;
	border: none!important;
	line-height: 2em!important;
	font-size: 1.2em!important;
	border-radius: 6px!important;
	letter-spacing: 2px;
	width:240px!important;
	height: 40px!important;
}


/*背景*/

.bg_index,
.bg_login {
	z-index: 1;
	background: url(../img/bg_index.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


/*登录*/

.user_login_box {
	width: 400px;
	margin: 12% auto 3%;
	line-height: 3.6em;
	padding: 60px 30px 20px;
	box-sizing: border-box;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.63);
}

.login_title {
	font-size: 1.2em;
	line-height: 26px;
	text-align: center;
	letter-spacing: 4px;
	color:#fff;
	margin-bottom: 36px;
}
.controls{
	overflow: hidden;
	margin-top: 12px;
}
.control-label{
	width:80px;
	float:left;
	text-align: right;
	margin: 4px 16px 0 0 ;
}
label.error{
	margin-left: 96px!important;
}
.user_login_box input {
	padding: 0 6px;
	float:left;
	width: calc(100% - 100px);
	height:30px;
	line-height: 30px;
	border-radius: 6px;
	font-size: 1.0em;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.47);
}
.feedback_textarea{
	width: 100%;
	border-radius: 6px;
	padding: 0 6px;
	font-size: 16px;
	line-height: 1.8rem;
	box-sizing: border-box;
	border: 2px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.47);
}
.small_operation {
	font-size: 0.8em;
	line-height: 1em;
	padding: 0 4px;
}
.user_login_box {
	width: 100%;
	line-height: 4.0em;
	background: none;
}
/*注册-购买*/
.choose_buytime_box{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 86%;
	height: 100%;
	background: rgba(255,255,255,0.94);
	color: #4c4c4c;
	padding: 0 7%;
}
.Gear_selection_box{
}
.Gear_list{
	line-height: 44px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.Gear_list.active{
	background: url(../img/gear_choosed.png) center right no-repeat;
	background-size: 22px;
}
.Gear_list .left{
	float: left;
}
.Gear_list .right{
	float: right;
	color: #F23939;
	font-weight: bold;
	margin-right: 36px;
}
.confirm_pay{
	position: absolute;
	bottom: 24px;
	width: 86%;
	margin: 36px 0;
}
.gear_goback{
	position: absolute;
	bottom: 32px;
	width: 86%;
	text-align: center;
}
.register_success{
	text-align:left;
	text-indent:2em;
	width: calc(70% - 24px);
	min-height:60px;
	margin: 30% 15% 5%;
	padding:6px 12px;
	background: rgba(255,255,255,0.8);
	color:#4c4c4c;
	border-radius: 6px;
	line-height: 30px;
}

/*首页*/
.box_indexcontent{
	background: rgba(12, 12, 12, 0.2);
	padding-bottom: 56px;
}

.top_nav {
	position: fixed;
	z-index: 3;
	width: 100%;
	color: #575757;
	padding: 6px 12px;
	background: #66baea;
	color: #fff;
}

.info {
	position: relative;
	text-align: center;
	padding-top: 30px;
}

.info .head {
	width: 50px;
	margin: 30px auto 6px;
	border-radius: 50%;
	box-shadow: 0 0 15px #fff;
}
.banner_box{
	min-height: 200px;
}
.contact_info {
	text-align: left;
	padding-bottom: 30px;
}

.contact_type {
	display: block;
	margin-left: 20px;
	margin-top: 8px;
	color: #fff;
}

.btn_add_wechat {
	float: right;
	margin-right: 20px;
	padding: 4px 10px;
	background: #66baea;
	color: #fff;
	border: 1px solid #66baea;
	letter-spacing: 2px;
	border-radius: 5px;
}
.view{
	position: absolute;
    top: 98px;
    right: 10%;
}
#music{
	position: absolute;
	top: 36px;
	right: 8%;
}
#music svg{
	width: 40px;
	height: 40px;
}
.play {
    -webkit-animation: music_disc 4s linear infinite;
            animation: music_disc 4s linear infinite;
}
@keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.common_title {
	font-size: 1em;
	font-weight: bold;
	padding: 12px 0 6px 20px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
}

.common_title img {
	width: 100px;
}


/*首页--关于智伴*/

.friendly_link_box {
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
}

.friendly_link {
	display: block;
	width: 33.33%;
	float: left;
	text-align: center;
	font-size: 0.88em;
	margin-top: 20px;
}

.friendlylink_icon {
	width: 30px;
	height: 30px;
	padding: 14px;
	background: #5ed2a5;
	color: #fff;
	border-radius: 50%;
}

.friendly_link p {
	margin-top: 6px;
}


/*首页--我的资讯*/

.Magazine {}

.Magazine_lists {}

.news_box {
	overflow: hidden;
	padding: 8px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nwes_title {
	width: 70%;
	float: left;
	color: #fff;
}

.news_backcover {
	width: 30%;
	max-height:112px;
	float: right;
}

/*首页--底部*/
.footer{
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 28px;
	background: #676869;
	text-align: center;
}
.footer .gomenu{
	margin-top: -10px;
	width: 30px;
	height: 30px;
	padding:8px;
	background: #66baea;
	border-radius: 50%;
}
.footer .goleft{
	position: absolute;
	left: 12px;
	top: 4px;
}
.footer .goshare{
	position: absolute;
	right: 12px;
	top: 4px;
}
/*首页--微信名片*/

.null_box {
	display: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.47);
}

.wechat_box {
	position: fixed;
	z-index: 10;
	top: 180px;
	left: 0;
	width: 100%;
	padding: 50px 0 30px;
	box-sizing: border-box;
	text-align: center;
}

.wechat_box {
	display: none;
	background: url(../img/panel.jpg);
	color: #4c4c4c;
}

.wechat_box .code {
	width: 50%;
}

.code_box:before {
	left: 10%;
	background: transparent url(../img/cable.png) 0 0 no-repeat;
	position: absolute;
	display: block;
	height: 860px;
	width: 30px;
	content: "";
	top: -837px;
	z-index: 1;
}

.code_box:after {
	right: 10%;
	background: transparent url(../img/cable.png) 0 0 no-repeat;
	position: absolute;
	display: block;
	height: 860px;
	width: 30px;
	content: "";
	top: -837px;
	z-index: 1;
}
.icon_close{
	position: absolute;
	z-index: 10;
	bottom: -50px;
	left: 50%;
	background: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
}

/*首页-侧栏用户页面*/
.sidebar_user{
	position: fixed;
	z-index: 99;
	top: 0;
	left: -100%;
	width: 80%;
	height: 100%;
	background: #f2e2d5;
	box-shadow: 3px 2px 2px rgba(102, 186, 234, 0.27);
	color: #4c4c4c;
}
.sidebar_user_info{
	text-align: center;
	padding: 36px 0 76px;
	background: url(../img/bg_index_02.jpg) no-repeat;
	background-size: cover;
}
.sidebar_user_info .head{
	width: 50px;
}
.slidebar_link{
}
.slidebar_link li{
	line-height: 2.6rem;
	padding-left: 20px;
}
.slidebar_link li .icon{
	vertical-align: middle;
}
.slidebar_link_mt{
	margin-top: 26px;
}
/*新闻列表页*/
.Magazinelist_title{
	position: relative;
}
.bg_Magazinelist_title{
	width: 100%;
	max-height: 300px;
}
.Magazinelist_title_text{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px 20px;
	color: #fff;
	box-sizing: border-box;
	background: rgba(0,0,0,0.4);
}
.Magazine_bg_white{
	color: #575757;
}
.Magazine_bg_white .news_box{
	border-color: #a9a9a9;
}
/*资讯详情*/
.information_title{
	font-size: 1.2em;
	color: #0d0d0d;
	width: 90%;
	margin: 16px auto;
}
.information_time{
	font-size: 0.8em;
	color: #908e8e;
	width: 90%;
	margin: auto;
}
.information_time img{
	width: 12px;
	height: 12px;
}
.information_time span{
	display: inline-block;
	margin-left: 0.35rem;
}
.information_text{
	width: 90%;
	margin: 10px auto 60px;
}
.information_pic{
	width: 90%;
	margin: 10px 5%;
}
.return_top{
	position: fixed;
	bottom: 30px;
	right: 5%;
	width: 30px;
	height:30px;
	background: #eee;
	border-radius: 50%;
	padding: 8px;
}