/*common*/

@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
	font-family: "PingHei", "PingFang SC", Arial, "FZLanTingHei-R-GBK", 鏂规鍏颁涵榛�, "Microsoft YaHei", 寰蒋闆呴粦, STHeiti, 鍗庢枃榛戜綋, SimSun, 瀹嬩綋, sans-serif, "Myriad Pro";
	font-size: 14px;
}


/*:lang(zh-CN) {
	font-family: "HanHei SC", "PingHei", "PingFang SC", 寰蒋闆呴粦, "STHeitiSC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}*/

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}


/* remember to define focus styles! */

:focus {
	outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

.imgs {
	width: 100%;
	vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

input,
textarea {
	outline: none;
	resize: none;
}

.operate_disable {
	color: #9aa5c2!important;
	cursor: not-allowed!important;
}


/*鏂囧瓧鎹㈣*/

* {
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}

.text_ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

pre {
	width: 1180px;
	overflow-x: hidden;
	color: #fff;
	white-space: pre-wrap;
	/* css-3 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
	line-height: 30px;
	font-family: "PingHei", "PingFang SC", Arial, "FZLanTingHei-R-GBK", 鏂规鍏颁涵榛�, "Microsoft YaHei", 寰蒋闆呴粦, STHeiti, 鍗庢枃榛戜綋, SimSun, 瀹嬩綋, sans-serif, "Myriad Pro";
}


/*鏃嬭浆*/

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}


/*淇敼chrome璁颁綇瀵嗙爜鍚庤嚜鍔ㄥ～鍏呰〃鍗曠殑榛勮壊鑳屾櫙*/

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

html,
body {
	min-height: 100%;
}


/*loading*/

#errorDiv,
#loadingDiv,
#successTip {
	display: none;
}

.bg_grey {
	text-align: center;
	position: fixed;
	z-index: 300;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 56% 31%;
	background: #515151;
	background: rgba(40, 40, 40, 0.86);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=92);
}

.loading {
	position: fixed;
	z-index: 301;
	bottom: 35%;
	left: 41%;
	background: #282828;
	border-radius: 6px;
	width: 18%;
	height: 30%;
}

.loading img {
	position: absolute;
	top: 6%;
	left: 30%;
	width: 40%;
	padding: 26px 0 16px;
}

.loading-text {
	position: absolute;
	top: 80%;
	width: 100%;
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
	margin: 0;
}


/*404*/

.error_box {
	position: fixed;
	z-index: 302;
	top: 32%;
	left: 35%;
	width: 30%;
	text-align: center;
}

.refresh_btn {
	margin: 36px 0 0 0;
}


/*鎻愮ず妗�*/

.tooltip {
	position: absolute;
	z-index: 301;
	top: 16%;
	left: 38%;
	width: 24%;
	min-height: 6%;
	padding: 3% 2% 5%;
	background: #fff;
	color: #3f295e;
	border-radius: 12px;
	font-size: 1.4em;
	text-align: center;
}

.icon_tooltip {
	width: 30%;
}

.tooltip-btn {
	position: absolute;
	bottom: 15%;
	left: 35%;
	width: 30%;
	padding: 6px 8%;
	letter-spacing: 6px;
}


/*鎻愮ず绫�*/

.loading,
.tooltip,
.error_box {
	width: 50%;
	left: 25%;
	top: 25%;
}

.icon_tooltip {
	width: 40%;
}

.error_img {
	width: 100%;
}
/*loaddate*/

.loadData {
	text-align: center;
	color: #4c4c4c;
	margin: 0 0.08rem;
}

.loadData:before {
	content: url(../img/icon_nomore.png);
	display: block;
	transform: scale(0.66);
	margin-bottom: -10px;
}